<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ExampleServlet</servlet-name>
        <servlet-class>TransitionWebsite1.ExampleServlet</servlet-class>
    </servlet>
    <welcome-file-list>
        <welcome-file>firstPage.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>tester2</servlet-name>
        <servlet-class>TransitionWebsite1.tester2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet2</servlet-name>
        <servlet-class>TransitionWebsite1.NewServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRating</servlet-name>
        <servlet-class>TransitionWebsite1.AddRating</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>TransitionWebsite1.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>transitionController</servlet-name>
        <servlet-class>TransitionWebsite1.transitionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editTransition</servlet-name>
        <servlet-class>TransitionWebsite1.editTransition</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addTransition</servlet-name>
        <servlet-class>TransitionWebsite1.addTransition</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editPage</servlet-name>
        <servlet-class>editPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>transitionEdit</servlet-name>
        <servlet-class>TransitionWebsite1.transitionEdit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExampleServlet</servlet-name>
        <url-pattern>/ExampleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tester2</servlet-name>
        <url-pattern>/tester2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet2</servlet-name>
        <url-pattern>/NewServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRating</servlet-name>
        <url-pattern>/AddRating</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/loginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>transitionController</servlet-name>
        <url-pattern>/transitionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editTransition</servlet-name>
        <url-pattern>/editTransition</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addTransition</servlet-name>
        <url-pattern>/addTransition</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editPage</servlet-name>
        <url-pattern>/editPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>transitionEdit</servlet-name>
        <url-pattern>/transitionEdit</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
